  <!DOCTYPE html>
<html>
<head>
    <title>Inventory List</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

    <div class="jumbotron">
    <h1>Welcome to the inventory detail page.</h1>
    <h2>Inventory detail:</h2>
    <p>Name:{{ inventory_detail.name }}</p>
    <p>Serial Number:{{ inventory_detail.serial_number }}</p>
    <p>Price:{{ inventory_detail.price }}</p>


    <a class="btn btn-primary" href="{% url 'inventory_tracker:list' %}">Go Back To the Inventory List Page</a>
    </div>